/*Enlace de fuente */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*CSS Base*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway',sans-serif, Helvetica;
  background: linear-gradient(rgba(2, 11, 128, 0.6), rgba(2, 11, 128, 0.6)) fixed, url(../images/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200%;
  width: 100%;
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* a {
  text-decoration: none;
} */

/*Header*/
.header{
  background-color:#3F3F41;
  border-bottom:white solid 5px;
  height: 70px;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 200px;
  margin-top: -30px;
}

.logo img {
  width: 100%;
}

.header a{
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.hamburguer-icon {
  display: none;
}

.header-right {
  margin-top: 20px;
}

.header-right .fas{
  color: white;
}

.header-right li{
  display:inline-block;
  margin: 0px 5px;
}

.header-right a {
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px;
  transition: transform .5s ease;
}

.header-right li:hover {
  border-bottom: solid 2px #5CDB95;
} 

.header-right a:hover {
  color:#5CDB95;
} 

.fas:hover{
  color: #5CDB95;
}

.user-badge {
  color:white;
}

.header-right img {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

@media (max-width: 670px) {
 
  .header-right {
    display: none;
  }
 
  .hamburguer-icon {
    display: block;
    margin-right: 30px;
    margin-top: 5px;
  }
}

/* Main Content*/

.align{
  text-align: center;
  margin:5%;
}

.form{
  max-width: 1400px;
  display: inline-block;
  text-align: left;
  background: rgba(245, 241, 241, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 80%;
}

.container-title {
  max-width: 1400px;
  margin-bottom: 15px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form h1{
  color: #3F3F41;
  text-align: left;
  font-size: 3vh;
}

.right li{
  display:inline-block;
  margin: 10px 10px;
}

.right a {
color:  #3F3F41;
text-align: center;
text-transform: uppercase;
font-size: 15px;
text-decoration: none;
}

.right .fas{
  color:  gray;
  margin: 0px 5px;
}

.right li :hover{
  color: black;
  border-bottom: 1px solid black;
}

.errorsList{
  margin-bottom: 15px;
  background-color: #EE1945;
}

#back{
  font-size: 1.3vh;
  color:white;
  margin-left: 5px;
}

.field-form{
  margin: 0 auto;
  width: 100%;
  display: content;
  flex-flow: row wrap;
  align-items: center;
} 
 
.input {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #063549;
  color:#063549;
  height: 28px;
  width: 100%;
}

label{
  margin-top: 15px;
  margin-bottom: 0px;
}

.selector{
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #063549;
  color:#063549;
  width: 100%;
  height: 28px;
  font-size: 15px;
}

/* Eliminar el arrow por default en el type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.upload-images{
  display: flex;
  display:inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.inputimg {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #063549;
  color:#063549;
  height: 28px;
}

.fieldimg{
  margin:15px;
  height: 50px;
  width: auto;
} 

.error{
  border-bottom: solid 2px #EE1945;
}

/* Selector de hermanos*/
/* Cuando un campo tiene la clase error, entonces el hermano con clase feedback queda con display block*/
.error ~ .feedback{
  display:inline-block;
}

.feedback {
  color: #EE1945;
  font-size: 1.3vh;
  width: 100%;
}

.btn {
  background-color:#2F9985; 
  border-color:#2F9985; 
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  float: center;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.btn:hover{
  background-color:#5CDB95;
  border-color: #5CDB95;
  color: white;
}
  
/*Footer*/
.footer{
  background-color:#3F3F41;
  border-top:white solid 5px;
  height: 60px;
  overflow: hidden;
}

.footer-left a{
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.footer-left i{
  color:white;
  font-size: 3vh;
}

.footer-right{
  float: right;
  margin-top: 10px;
}

.footer-right li{
  display :inline-block;
  margin: 0px 5px;
}

.footer-right a {
  text-decoration: none;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px;
}

.footer-right li:hover {
  border-bottom: solid 2px #5CDB95;
}

.footer-right a:hover {
  color: #5CDB95;
}

.footer-left i:hover {
  color: #5CDB95;
}

@media (max-width: 900px) {
 
  .align{
    text-align: center;
    margin-top:10%;
    margin-left:0%;
    margin-right: 0%;
  }
  
  .form{
    max-width:95%;
  }

}

@media (max-width: 670px) {
 
  .align{
    text-align: center;
    margin-top:15%;
    margin-left:0%;
    margin-right: 0%;
  }
  
  .form{
    max-width: 95%;
  }
}