/*Enlace de fuente */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*CSS Base*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway',sans-serif, Helvetica;
  background: linear-gradient(rgba(2, 11, 128, 0.6), rgba(2, 11, 128, 0.6)) fixed, url(../images/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200%;
  width: 100%;
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* a {
  text-decoration: none;
} */

/*Header*/
.header{
  background-color:#3F3F41;
  border-bottom:white solid 5px;
  height: 70px;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 200px;
  margin-top: -30px;
}

.logo img {
  width: 100%;
}

.header a{
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.hamburguer-icon {
  display: none;
}

.header-right {
  margin-top: 20px;
}

.fas{
  color: white;
}

.header-right li{
  display:inline-block;
  margin: 0px 5px;
}

.header-right a {
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px;
  transition: transform .5s ease;
}

.header-right li:hover {
  border-bottom: solid 2px #5CDB95;
} 

.header-right a:hover {
  color:#5CDB95;
} 

.fas:hover{
  color: #5CDB95;
}

.user-badge {
  color:white;
}

.header-right img {
  height: 30px;
  width: auto;
  border-radius: 50%;
}


@media (max-width: 670px) {
 
  .header-right {
    display: none;
  }
 
  .hamburguer-icon {
    display: block;
  }
}


/* Main Content*/ 

.align{
  text-align: center;
  margin:5%;
}

.box{
  display: inline-block;
  background: rgba(245, 241, 241, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container-title {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

h1{
  color: #3F3F41;
  text-align: left;
  font-size: 3vh;
}

.right li{
  display:inline-block;
  margin: 10px 10px;
}

.right a {
  color:  #3F3F41;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.right .fas{
  color:  gray;
  margin: 0px 5px;
}

.right li :hover{
  color: black;
  border-bottom: 1px solid black;
}

.user-form{
  display: flex;
  margin: 0 auto;
} 

.card-title a{
  color: #2F9985;
  text-size-adjust: inherit;
  text-decoration: none;
  font-size: 2.5vh;
}

.card-title a:hover{
  color: #5CDB95;
  text-decoration: none;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

h5{
  font-size: 1.7vh
}

p{
  font-size: 1.7vh
}

#space{
  margin-bottom: 2%;
}
 
.btn {
  background-color:#2F9985; 
  border-color:#2F9985; 
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  float: center;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.btn:hover{
  background-color:#5CDB95;
  border-color: #5CDB95;
  color: white;
}

/*Footer*/
.footer{
  background-color:#3F3F41;
  border-top:white solid 5px;
  height: 60px;
  overflow: hidden;
}

.footer-left a{
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.footer-left i{
  color:white;
  font-size: 3vh;
}

.footer-right{
  float: right;
  margin-top: 10px;
}

.footer-right li{
  display :inline-block;
  margin: 0px 5px;
}

.footer-right a {
  text-decoration: none;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px;
}

.footer-right li:hover {
  border-bottom: solid 2px #5CDB95;
}

.footer-right a:hover {
  color: #5CDB95;
}

.footer-left i:hover {
  color: #5CDB95;
}
  
/* Mobile first*/

  @media (min-width:450px) and (orientation:portrait) {
    .container {
       width: 80%
  }}
  
  @media (min-width:900px) {
    .container {
      width: 40%
  }}
  
  @media screen and (max-width: 600px){
    .user-form{
      flex-direction: column;
    }
    
    .input-fields{
      width: 100%;
    }
  } 
