<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createUser.css">
	
	<title>METEGOL | ¿Quienes somos?</title>
</head>

<body>
	
	 <!--Header-->
	<%- include("partials/header.ejs")%> 
	
	<!--Main Content-->

	<div class="align">
		<div class="form">

			<div class="container-title">
				<h1>¿Quienes somos?</h1>
			</div>

            <p>Somos un medio online referente del fútbol amateur. Este portal facilita, entretiene e informa a sus usuarios sobre las diferentes alternativas para practicar el deporte más popular del mundo. En un sólo lugar los usuarios pueden encontrar los datos de una cancha, complejo y/o torneo que están buscando y, también, obtener información relevante para decidir cuándo, dónde, cómo y con quien jugar.
            </p> 

            <div class="container-title">
				<h1>¿Qué nos motiva?</h1>
            </div>
            
            <p>Al momento de organizar un partido de fútbol, resulta muy común encontrarse con que falta gente para concretar el partido, no se consigue cancha para el horario deseado o con cancelaciones de último momento. Metegol te está pensada para facilitarte la organización de partidos de fútbol. El objetivo principal es centralizar la reserva de canchas y lograr que se concreten partidos de fútbol de forma eficiente, rápida y práctica. Metegol ofrece información consolidada al alcance del usuario, quién podrá visualizar las canchas, horarios disponibles y precios, cerca de su ubicación o su zona de preferencia (dentro de CABA y Gran Buenos Aires). El organizador del partido tiene la posibilidad de realizar la elección y pago de la reserva de la cancha, y a su vez, convocar a sus jugadores. Los convocados podrán aceptar o rechazar la invitación, y así se irán cubriendo las plazas del partido hasta completar el número deseado. Se podrán crear partidos masculinos, femeninos y mixtos, en canchas de diversos tamaños. Como valor agregado, Metegol se presenta como una red de jugadores, donde los usuarios podrán sumarse a eventos ya creados o publicar su necesidad de jugadores para poder completar el equipo. Además, existirá la posibilidad de crear torneos internos. Una vez completada la organización del partido Metegol solicita al organizador realizar el pago a través de aplicación por medio de una tarjeta de crédito
            </p>
        
        </div>
	</div>
	
	<!--Footer -->
	<%- include("partials/footer.ejs")%> 
	
 </body>
</html>
