 <!--Footer-->
 <footer class="footer fixed-bottom">
    <div class="footer-left">
        <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-right">
        <ul>
            <li><a href="/contact">Contactanos</a></li>
            <li><a href="/about">¿Quiénes somos?</a></li>
            <li><a href="/faqs">Preguntas frecuentes</a></li>
        </ul>
    </div>
 </footer>