<!--Header-->
<header class="header">
    <div class="header-container">
      <a href="/" class="logo"><img src="/images/logo.png" alt="logo de metegol"></a>
       <div class="header-right">
        <ul>
          <li><a href="/fields">LISTADO DE CANCHAS</a></li>
          <li><a href="/carrito" title="Carrito"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="/users/login" title="Log in"><i class="fas fa-user"></i></i></a></li>
        </ul>
       </div>
      <a href="#" class="hamburguer-icon">TRES RAYITAS</a>
    </div>
  </header>