<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createUser.css">
	
	<title>METEGOL | Registro</title>
</head>

<body>
	
	 <!--Header-->
	<%- include("../partials/header.ejs")%> 
	
	<!--Main Content-->

	<div class="align">
		<div class="form">
			<h1>Crea tu usuario</h1>
				<div class="user-form">
								
					<div class="input-fields">
						<label>Nombre:</label>
						<input type="text" class="input" name="name" placeholder="Nombre*">
						<label>Apellido:</label>
						<input type="text" class="input" name="surname" placeholder="Apellido*">
						<label>Correo electrónico:</label>
						<input type="text" class="input" name="email" placeholder="Email*">
						<label>Contraseña:</label>
						<input type="password" class="input" name="password" placeholder="Contraseña*">
						<label>Avatar:</label>
						<input type="file" name="avatar" title="Avatar">
					</div>			

				</div>
			<div><button type="submit" class="btn btn-primary">REGISTRARSE</button></div>	
		</div>
	</div>
	
	<!--Footer -->
	<%- include("../partials/footer.ejs")%> 
	
 </body>
</html>
