<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head.ejs")%> 
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createUser.css">
	
	<title>METEGOL | Registro</title>
</head>

<body>
	
	 <!--Header-->
	<%- include("../partials/header.ejs")%> 
	
	<!--Main Content-->

	<div class="align">
		<div class="form">

			<div class="container-title">
				<h1>Crea tu usuario</h1>
				<div class="right">
					<li><a href="/users/login">&larr; Volver al login</a></li>
				</div>
			</div>

			<!-- Validaciones del back -->
			<% if (typeof errors !== 'undefined') { %>
			<div class= "errorsList">
				<ul>
					<% for(let oneError of errors) { %>
					<li id="back" class="text-danger"> - <%= oneError.msg %> </li>
					<% } %>
				</ul>
			</div>
			<% } %>

			<!-- Inicio del formulario de registro -->
			<form action="/users" method="POST" enctype="multipart/form-data" id="registerForm">
				<div class="user-form">
								
					<div class="input-fields">
						<label>Nombre:</label>
						<input class="input" type="text" name="name" data-name="nombre" placeholder="Juan*">
						<div class="feedback"></div>
						<label>Apellido:</label>
						<input class="input" type="text" name="surname" data-name="apellido" placeholder="Perez*">
						<div class="feedback"></div>
						<label>Correo electrónico:</label>
						<input class="input"  type="text" name="email" data-name="email" placeholder="mail@mail.com*">
						<div class="feedback"></div>
						<label>Contraseña:</label>
						<input class="input"  type="password" name="password" data-name="contraseña" placeholder="La contraseña debe tener más de 8 caractéres*">
						<div class="feedback"></div>
						<label>Avatar:</label>
						<input class="input" type="file" name="avatar" data-name="imagen de perfil" title="Avatar">
						<div class="feedback"></div>
					</div>			

				</div>
				<div><button type="submit" class="btn btn-primary">REGISTRARSE</button></div>
			</form>	
		</div>
	</div>
	
	<!--Footer -->
	<%- include("../partials/footer.ejs")%> 

	<!--Vinculación al documento de validación de JS Front, al ser EJS comienza con una "/"-->
	<script src="/js/validator.min.js"></script>
	<script src="/js/registerValidator.js"></script>
	
 </body>
</html>
