<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include("../partials/head.ejs")%> 
		<!--===============================================================================================-->
		<link rel="stylesheet" href="/css/login.css">
	
		<title>METEGOL | Login</title>
	</head>
 
 <body>
	
	<!--Header-->
	<%- include("../partials/header.ejs")%> 
		
	<!--Main Content-->
	
	<div class="align">
		<div class="form">
			<h1>Ingresa</h1>

				<!-- Validaciones del back -->
				<% if (typeof errors !== 'undefined') { %>
					<div class= "errorsList">
						<ul>
							<% for(let oneError of errors) { %>
							<li id="back" class="text-danger"> - <%= oneError.msg %> </li>
							<% } %>
						</ul>
					</div>
				<% } %>

			<!-- Inicio del formulario de login -->

			<form action="/users/login" method="POST" id="loginForm">
				<div class="user-form">
					<div class="input-fields">
						<input class="input" type="text" data-name="email" placeholder="Email*" name="email">
						<div class="feedback"></div>
						<input class="input"type="password" data-name="contraseña" placeholder="Contraseña*" name="password">
						<div class="feedback"></div>

						<div class="form-check form-check-inline" id="checkbox">
							<input class="input" class="form-check-input" type="radio" name="remember" value="remember">
							<label>    Recordarme</label>
						</div>
					</div>
				</div>
			<div><button type="submit" class="btn btn-primary">INGRESAR</button></div>
			</form>
			
			<div class="manageUser">
				<ul>
					<li><a href="/users/create"><i class="fas fa-user-plus"></i>     Crea tu usuario</a></li>					
				</ul>
			</div>	
		
		</div>
	</div>
	
	<!--Footer-->
	<%- include("../partials/footer.ejs")%> 

	<script src="/js/validator.min.js"></script>
    <script src="/js/loginValidator.js"></script>

 </body>
</html>